<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unidev.uniteam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FacebookConnect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectList"
            android:label="@string/project_list_label"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProjectPresentation" />
        <activity
            android:name=".ProjectAddNew"
            android:label="@string/add_new_project"/>
        <activity android:name=".TaskDescription" />
        <activity
            android:name=".Kanban"
            android:label="@string/kanban" />
        <activity
            android:name=".AboutUs"
            android:label="@string/about" />
        <activity
            android:name=".TaskAddNew"
            android:label="@string/add_new_task" />
    </application>

</manifest>